/* Variables and mixins declared here will be available in all other SCSS files */

$bg: #111111;
$bg-darker: #0e0e0e;
$bg-light: #181818;
$text-color: #f8f8f8;
$t-darker: #b1b1b1;
$t-darkest: #8a8a8a;
$t-opacity: #ffffff47;
$danger: #ff3a20;
$danger-light: #ff9a9a;
$danger-opacity: #ff474760;
